<div class="container">
  <h1 class="display-5 text-center my-4">Enter the URL</h1>
  <div class="row">
    <div class="col-lg-8">
      <input type="text" class="form-control form-control-lg" placeholder="Ex.: https://www.google.com.br/">
    </div>
    <div class="col-lg-4">
      <button class="btn btn-primary btn-block btn-lg">TRANSFORM</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-8">
      <input type="text" class="form-control form-control-lg" placeholder="URL shortened">
    </div>
  </div>
</div>
